body > * {
    background-color: red;
    padding: 1%;
}

body {
    width: 1280px;
    margin: 0 auto;
}

pre {
    line-height: 1.5;
    letter-spacing: 0.05rem;
    padding: 1rem;
    background-color: white;
}

label {
    width: 200px;
    margin-right: 33px;
}

select {
    width: 350px;
    padding: 5px;
}

#content main, 
#content header, 
#content nav, 
#content article, 
#content aside, 
#content footer, 
#content section {
    background-color: rgba(255, 241, 171, 1.0);
    padding: 1%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 0, 200, 0.3);
    color: rgba(0, 0, 200, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}

button {
    width: 10em;
    height: 3em;
    border: 0;
    background: rgba(150, 150, 150, 0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 110px;
    left: 180px;
}