body > * {
    background-color: red;
    padding: 1%;
}

body {
    width: 1280px;
    margin: 0 auto;
}

pre {
    line-height: 1.5;
    letter-spacing: 0.05rem;
    padding: 1rem;
    background-color: white;
}

label {
    width: 200px;
    margin-right: 33px;
}

select {
    width: 350px;
    padding: 5px;
}

#content main, 
#content header, 
#content nav, 
#content article, 
#content aside, 
#content footer, 
#content section {
    background-color: rgba(255, 241, 171, 1.0);
    padding: 1%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}
/* 
button {
    width: 10em;
    height: 3em;
    border: 0;
    background: rgba(150, 150, 150, 0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 110px;
    left: 180px;
    display: block;
} */

body > * {
    background-color: red;
    padding: 1%;
}

body {
    width: 1280px;
    margin: 0 auto;
}

pre {
    line-height: 1.5;
    letter-spacing: 0.05rem;
    padding: 1rem;
    background-color: white;
}

label {
    width: 200px;
    margin-right: 33px;
}

select {
    width: 350px;
    padding: 5px;
}

#content main, 
#content header, 
#content nav, 
#content article, 
#content aside, 
#content footer, 
#content section {
    background-color: rgba(255, 241, 171, 1.0);
    padding: 1%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    /* display: block; */
    /* padding: 10px 30px; */
    width: 15em;
    height: 5em;
    border: 0;
    background: rgba(150, 150, 150, 0.6);
    color: blue;
    margin: 14px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    border: 5px solid #D3E173;
    /* position: absolute; */
    cursor: pointer;
    top: 100px;
    left: 190px;
    margin-left: auto;
    margin-right: 0;
    font-weight: bold;
}

main {
    scroll-timeline: --main-timeline;
}

div {
    animation: background-animation linear;
    animation-timeline: scroll(nearest inline);
}

div::after {
    animation: shape-animation linear;
    animation-timeline: --main-timeline;
}

html {
    scroll-behavior: smooth;
}